.curtain-raiser {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.pointer-none {
  pointer-events: none;
}
.curtain-raiser a {
  display: block;
  padding: 10px;
  z-index: 9999;
  background: gray;
  color: #fff;
}
#effect {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 0px #610b0b;
}
#curtain1 {
  top: 0px;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
  z-index: 9998;
}
#curtain2 {
  z-index: 9997;
  top: 0px;
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}
.curtain-raiser-content {
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.curtain-raiser-content > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.curtain-raiser-content h1 {
  font-size: 5em;
  color: #fff;
}
.curtain-raiser-content input {
  width: 350px !important;
  padding: 10px !important;
  background-color: rgba(0,0,0,.5) !important;
  border: none !important;
  color: #595959 !important;
  border-radius: 2px !important;
}
.curtain-raiser-content input:focus {
  border-color: #40b6ff !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px #40b6ff !important;
}

.curtain-raiser-content .image-button {
  width: auto !important;
  background: none !important;
  border: none !important;
}
